
    <div class="tabs">
        <input type="radio" class="tabs-radio" name="tabs-group1" id="tab1" checked>
        <label for="tab1" class="tabs-label">Tab 1</label>
        <div class="tabs-content">
            <h4>Tab 1 Content</h4>
            <p>This is the content of tab 1.</p>
        </div>
        <input type="radio" class="tabs-radio" name="tabs-group1" id="tab2">
        <label for="tab2" class="tabs-label">Tab 2</label>
        <div class="tabs-content">
            <h4>Tab 2 Content</h4>
            <p>This is the content of tab 2.</p>
        </div>
        <input type="radio" class="tabs-radio" name="tabs-group1" id="tab3">
        <label for="tab3" class="tabs-label">Tab 3</label>
        <div class="tabs-content">
            <h4>Tab 3 Content</h4>
            <p>This is the content of tab 3.</p>
        </div>
        <input type="radio" class="tabs-radio" name="tabs-group1" id="tab4">
        <label for="tab4" class="tabs-label">Tab 4</label>
        <div class="tabs-content">
            <h4>Tab 4 Content</h4>
            <p>This is the content of tab 4.</p>
        </div>
    </div>
