
<footer class="footer">
    <div class="width-container">
        <div class="footer__content">
            <div class="footer__logo">
                <img src="{{ "/assets/favicon.png" | absolute_url }}" alt="機構標誌" class="footer__logo-img">
            </div>
            <div class="footer__info">
                <p>服務電話: <a href="tel:+886-2-2739-1000" class="footer__link">02-2739-1000</a></p>
                <p>傳真電話: 02-2733-1655</p>
                <p>地址: 100057 臺北市中正區延平南路143號4樓</p>
            </div>
            <div class="footer__legal">
                <p>更新日期: 03/13/2024</p>
                <p><a href="#" class="footer__link">隱私權及網站安全政策</a> / <a href="#" class="footer__link">政府網站資料開放宣告</a>
                </p>
                <p>版權所有 © 2024 國家資通安全研究院</p>
            </div>
        </div>
    </div>
</footer>