<interactive-table>
  <div class="scroll-table-wrapper">
    <table class="table">
      <thead class="table-header">
        <tr class="table-row">
          <th scope="col" class="table-head" data-sortable="numeric">點閱次數</th>
          <th scope="col" class="table-head" data-sortable data-filterable>短網址</th>
          <th scope="col" class="table-head" data-sortable="date">建立時間</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row">
          <td class="table-cell">7</td>
          <td class="table-cell"><a href="#">http://example.com/#Z</a></td>
          <td class="table-cell tabular-nums">2023/04/12</td>
        </tr>
        <tr class="table-row">
          <td class="table-cell">120</td>
          <td class="table-cell"><a href="#">http://example.com/#B</a></td>
          <td class="table-cell tabular-nums">2023/05/01</td>
        </tr>
        <tr class="table-row">
          <td class="table-cell">33,973</td>
          <td class="table-cell"><a href="#">http://example.com/#C</a></td>
          <td class="table-cell tabular-nums">2023/02/13</td>
        </tr>
        <tr class="table-row">
          <td class="table-cell">0</td>
          <td class="table-cell"><a href="#">http://example.com/#D</a></td>
          <td class="table-cell tabular-nums">2022/01/12</td>
        </tr>
        <tr class="table-row">
          <td class="table-cell">0</td>
          <td class="table-cell"><a href="#">http://example.com/#E</a></td>
          <td class="table-cell tabular-nums">2023/07/12</td>
        </tr>
      </tbody>
    </table>
  </div>
</interactive-table>