<table class="table">
  <caption class="table-caption">綜合所得稅淨額率</caption>
  <thead class="table-header">
    <tr class="table-row">
      <th scope="col" class="table-head">綜合所得稅淨額區間</th>
      <th scope="col" class="table-head">稅率</th>
      <th scope="col" class="table-head">累進差額</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-row">
      <td class="table-cell">0 - 560,000 元</td>
      <td class="table-cell">5%</td>
      <td class="table-cell">0 元</td>
    </tr>
    <tr class="table-row">
      <td class="table-cell">560,001 元 - 1,260,000 元</td>
      <td class="table-cell">12%</td>
      <td class="table-cell">39,200 元</td>
    </tr>
    <tr class="table-row">
      <td class="table-cell">1,260,001 元 - 2,520,000 元</td>
      <td class="table-cell">20%</td>
      <td class="table-cell">140,000 元</td>
    </tr>
    <tr class="table-row">
      <td class="table-cell">2,520,001 元 - 4,720,000 元</td>
      <td class="table-cell">30%</td>
      <td class="table-cell">392,000 元</td>
    </tr>
    <tr class="table-row">
      <td class="table-cell">4,720,001 元以上</td>
      <td class="table-cell">40%</td>
      <td class="table-cell">864,000 元</td>
    </tr>
  </tbody>
</table>
