<div class="scroll-table-wrapper">
  <table class="table">
    <caption class="table-caption">服務項目</caption>
    <thead class="table-header">
      <tr class="table-row">
        <th scope="col" class="table-head">開發項目</th>
        <th scope="col" class="table-head">說明</th>
        <th scope="col" class="table-head">目標</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row">
        <td class="table-cell">元件</td>
        <td class="table-cell">開發各級機關網站經常使用之前端設計元件。增加政府網站之一致性，以近一步增加使用者對公家機關網站的信任度。</td>
        <td class="table-cell">本文件所規劃之系統元件係以具備相容性、符合網頁標準之目標進行設計規劃，並最大化地使用網頁標準中所提供的元件加以優化，可供各機關及資通系統承商直接採用及參考，減少對第三方元件及複雜前端開發框架的依賴，增加系統韌性、相容性及親和力。系統元件將會使用網頁標準元件作為根本基礎，因此即使個機關、廠商仍須使用前端開發框架，也不會有不相容的問題。</td>
      </tr>
    </tbody>
  </table>
</div>
