<table class="table">
  <caption class="table-caption">教育學習臨櫃服務</caption>
  <thead class="table-header">
    <tr class="table-row">
      <th scope="col" class="table-head">服務名稱</th>
      <th scope="col" class="table-head">服務提供單位</th>
      <th scope="col" class="table-head">身分驗證方式</th>
      <th scope="col" class="table-head">應用</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-row">
      <td class="table-cell">圖書證申請</td>
      <td class="table-cell">客家委員會客家文化發展中心</td>
      <td class="table-cell">
        <ul class="list">
          <li>自然人憑證</li>
          <li>晶片金融卡</li>
          <li>硬體金融憑證</li>
          <li>醫事憑證</li>
          <li>行動自然人憑證</li>
          <li>健保卡</li>
          <li>軟體金融憑證</li>
          <li>手機門號+健保卡驗證</li>
        </ul>
      </td>
      <td class="table-cell">
        <a href="#">查看簡介</a>
        <a href="#">下載</a>
      </td>
    </tr>
    <tr class="table-row">
      <td class="table-cell">閱覽證申請</td>
      <td class="table-cell">國家圖書館</td>
      <td class="table-cell">
        <ul class="list">
          <li>自然人憑證</li>
          <li>晶片金融卡</li>
          <li>硬體金融憑證</li>
          <li>醫事憑證</li>
          <li>行動自然人憑證</li>
        </ul>
      </td>
      <td class="table-cell">
        <a href="#">查看簡介</a>
        <a href="#">下載</a>
      </td>
    </tr>
  </tbody>
</table>
