<div class="cookie-banner" data-nosnippet role="region" aria-label="OO 網站 Cookie">
  <div class="cookie-banner-message width-container pv3 ph3">
    <div class="grid-row">
      <div class="grid-column-two-thirds">
        <div class="cookie-banner-content">
          <p class="body">您已經接受用來分析的 cookie。 您可以隨時<a href="#replace-this-url">修改您的 cookie 偏好設定</a>。</p>
        </div>
      </div>
    </div>
    <div class="gap2 flex flex-wrap mb3">
      <button value="yes" type="submit" name="cookies[hide]" class="button button-primary">
        隱藏 cookie 訊息
      </button>
    </div>
  </div>
</div>