<div class="cookie-banner" data-nosnippet role="region" aria-label="OO 網站 Cookie">
  <div class="cookie-banner-message width-container pv3 ph3">
    <div class="grid-row">
      <div class="grid-column-two-thirds">
        <h2>
          [OO] 網站 Cookie
        </h2>
        <div class="cookie-banner-content">
          <p class="body">本網站使用 Cookie 與類似技術收集資訊，以便了解您的瀏覽活動，藉此分析您如何使用本網站。</p>
        </div>
      </div>
    </div>
    <div class=" gap2 flex flex-wrap mb3">
      <button type="button" class="button button-primary">
        接受 cookies
      </button>
      <button type="button" class="button button-primary">
        拒絕 cookies
      </button>
      <a href="#replace-this-url">檢視 cookies 策略</a>
    </div>
  </div>
</div>