---
---

<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/guide.css" | absolute_url }}">
  <link rel="icon" type="image/png" href="{{ "/assets/favicon.png" | absolute_url }}">
  <title>政府網站設計原則</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="one-col">
    <skip-to><a href="#main" class="skip-to">跳至主要內容區</a></skip-to>
    <header class="site-header">
      <a href="{{ "/" | absolute_url}}" class="logo">
        <div class="logo-svg mr3">{% include components.svg %}</div>
        <h1>政府網站設計原則</h1>
      </a>
    </header>
    <main class="site-main" id="main">
      <article class="w-paragraph center">
        <p>感謝您選擇探索我們目前所呈現的內容。我們正在全力開創新的典範，以便為您提供有價值的知識及技術。</p>

        <p>我們的努力不會歇止，我們鼓勵您現在就開始運用這裡提供的資訊和設計。您的參與和意見對我們至關重要，這將有助於我們更進一步，讓政府網站設計原則更加完善。</p>

        <p>我們期待著您的回饋，並感謝您對我們的支持。讓我們攜手合作，共同見證政府網站設計原則的進步和成長。</p>
      </article>

      <div class="three-col gap4">
        {% for collection in site.collections %}
          {% if collection.docs.size == 0 %}{% continue %}{% endif %}
          {% assign filepath = collection.relative_directory | append: "/index.md" %}
          {% assign doc = collection.docs | where: "path", filepath | first %}
          <div>
            <div class="bg-layer1" style="aspect-ratio: 1;"></div>

            <a class="" {% if doc %}href="{{ doc.url | absolute_url }}"{% endif %}>
              {{ collection.name }}
            </a>
          </div>
        {% endfor %}
      </div>
    </main>
  </div>
  <div class="one-column bg-layer1">
    <footer class="site-footer f6 pa4 flex items-center gap4">
      <div class="lh-solid w2">{% include components.svg %}</div>
      <div class="mw5">
        <a href="/accessibility-statement">親和力宣告</a>
      </div>
    </footer>
  </div>
  <script src="{{ "/assets/js/main.js" | absolute_url }}" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</body>
</html>
