<div class="bg-layer1 overflow-auto fs7 ph3 pv3 br3">
  <pre><code class="language-html">
  {{- $current_content := .input_content -}}
  {{- with .highlight_terms_string -}}
    {{- $highlight_terms := split . "," -}}
    {{- range $highlight_terms -}}
      {{- $term_to_highlight := . -}}
      {{- $current_content = replace $current_content $term_to_highlight (printf "<mark>%s</mark>" $term_to_highlight) -}}
    {{- end -}}
    {{ $current_content | safeHTML }}
  {{- else -}}
    {{ $current_content }}
  {{- end -}}
  </code></pre>
</div>
