<div class="ba br3 w-100 pa4">
  <form class="fields">
    <fieldset class="fieldset">
      <label for="code" class="field-label">短網址碼</label>
      <div class="field-input-fixes">
        <div class="field-input-prefix" id="url-prefix"><span class="sr-only">不用輸入</span>https://pdis.run/</div>
        <input type="text" id="code" class="field-input" placeholder="hedddeca" aria-describedby="url-prefix">
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <label for="username" class="field-label">信箱名稱</label>
      <div class="field-input-fixes">
        <input type="text" id="username" class="field-input" placeholder="muan" aria-describedby="email-suffix">
        <div class="field-input-suffix" id="email-suffix"><span class="sr-only">接上</span>@pdis.nat.gov.tw</div>
      </div>
    </fieldset>
  </form>
</div>