<div class="fields">
  <fieldset class="fieldset">
    <label for="city" class="field-label">居住城市</label>
    <select class="field-input" id="city">
      <option>選擇</option>
      <option>台北市</option>
      <option>新北市</option>
      <option>基隆市</option>
    </select>
  </fieldset>
  <fieldset class="fieldset">
    <label for="name" class="field-label">姓名</label>
    <input type="text" id="name" autocomplete="full-name" class="field-input">
  </fieldset>
  <fieldset class="fieldset">
    <label for="desc" class="field-label">說明</label>
    <textarea id="desc" class="field-input"></textarea>
  </fieldset>
</div>
