<div class="fields">
  <fieldset class="fieldset">
    <legend for="id" class="field-label">識別證件</legend>
    <div class="checkable-wrapper-v">
      <div class="checkable-item">
        <input type="radio" name="identification" id="v-healthid" value="healthid">
        <label for="v-healthid">健保卡</label>
      </div>
      <div class="checkable-item">
        <input type="radio" name="identification" id="v-moica" value="moica">
        <label for="v-moica">自然人憑證</label>
      </div>
      <div class="checkable-item">
        <input type="radio" name="identification" id="v-phone" value="phone">
        <label for="v-phone">手機門號</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="fieldset">
    <label class="field-label" for="items">補辦項目</label>
    <div class="checkable-wrapper-h">
      <div class="checkable-item">
        <input type="checkbox" name="check-identification" id="check-h-healthid" value="healthid">
        <label for="check-h-healthid">健保卡</label>
      </div>
      <div class="checkable-item">
        <input type="checkbox" name="check-identification" id="check-h-moica" value="moica">
        <label for="check-h-moica">自然人憑證</label>
      </div>
      <div class="checkable-item">
        <input type="checkbox" name="check-identification" id="check-h-id" value="id">
        <label for="check-h-id">身分證</label>
      </div>
    </div>
  </fieldset>
</div>
