<div class="ba br3 w-100 relative">
  <div class="pa4" data-example>
    {{- if .inject_html_data -}}
    <div data-live-example-inject data-content="{{ .inject_html_data | safeHTML }}"></div>
    {{- else -}}
    {{ .rendered_content | safeHTML }}
    {{- end -}} {{ with .i18n }} {{ $i18n := split . ";"
    }}
    <select
      aria-label="語言選擇"
      data-i18n-selector="{{ .i18n_selector }}"
      class="field-select absolute nt2 lh-solid pa1 right-0 mr4 top-0 f7 pointer"
    >
      <option value="default">正體中文</option>
      {{ range $i18n }} {{ $parts := split . ":" }}
      <option lang="{{ index $parts 0 }}" data-phrases="{{ index $parts 1 }}">
        {{ index $.Site.Params.i18n.langs (index $parts 0) }}
      </option>
      {{ end }}
    </select>
    {{ end }}
  </div>
  {{- if .raw_content -}}
  <details>
    <summary
      class="absolute nt3 lh-solid button button-mini right-0 mr4 f7 pointer br2"
    >
      HTML
    </summary>
    <div class="br3 br--bottom overflow-hidden">
      {{- $passed_content := .raw_content -}} {{- $passed_highlight := .highlight | default "" -}}
      {{- if not $passed_highlight -}} {{- with .context.Params.highlight -}} {{-
      $passed_highlight = . -}} {{- end -}} {{- end -}} {{- partial
      "shared/display_code_example.html" (dict "input_content" $passed_content
      "highlight_terms_string" $passed_highlight) -}}
    </div>
  </details>
  {{- end -}}
</div>
