.fields {
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
}

.fieldset {
  border: none;
  gap: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;

  .field-label {
    font-weight: 600;
  }
  
  .field-description {
    font-size: 0.9em;

  }
  @media not all and (hover: hover) {
    .field-input {
      // Ensure there's no zoom on mobile when focusing on the field.
      font-size: 16px;
    }
  }
}

.field-input-fixes {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--subtleBackgroundColor);
  border-radius: 4px;
  overflow: hidden;
  
  .field-input {
    flex: 1 1 auto;
    margin: .4rem;
  }

  &:has(.field-input-prefix) .field-input {
    margin-left: 0;
  }

  &:has(.field-input-suffix) .field-input {
    margin-right: 0;
  }

  .field-input-prefix,
  .field-input-suffix {
    padding: 0 0.8rem;
  }
}
