@supports selector(:user-invalid) {
  form:has(:focus) input:user-invalid {
    box-shadow: inset 0 0 0 1px #f00;
    border-color: #f00;
  }
}
@supports not selector(:user-invalid) {
  form:has(:focus) input:invalid {
    box-shadow: inset 0 0 0 1px #f00;
    border-color: #f00;
  }
}
