official-document {
  display: block;
  white-space: pre-wrap;
}

official-document.parsed {
  white-space: normal;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-left: 1px dashed var(--borderColor);
}

.od-title {
  font-size: 1.2em;
}

.od-admin {
  margin-top: 2em;
  margin-bottom: 0;
}

.od-title,
.od-admin {
  font-weight: bold;
}

.od-meta {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 2em;
  color: var(--secondaryTextColor)
}

dl.od-list {
  display: grid;
  width: 100%;
  grid-template-columns: max-content 1fr;
  column-gap: 1em;
  row-gap: 0.6em;
  
  dt {
    display: flex;
    justify-content: space-between;
    margin-right: 0.2em;
    position: relative;

    &:after {
      content: '：';
      left: calc(100% + 2px);
      position: absolute;
    }
  }

  dd {
    margin-left: 0;
    white-space: pre-wrap;
  }
}