<div class="ba br3 w-100 relative">
  <div class="pa4" data-example>
    {{ include.content }}
    {% if include.i18n %}
      {% assign i18n = include.i18n | split: ';' %}
      <select aria-label="語言選擇" data-i18n-selector="{{ include.i18n_selector }}" class="field-select absolute nt2 lh-solid pa1 right-0 mr4 top-0 f7 pointer">
        <option lang="{{ layout.lang }}" value="default">正體中文</option>
        {% for lang in i18n %}
          {% assign parts = lang | split: ':' %}
          {% assign name = parts[0] %}
          <option lang="{{ name }}" data-phrases="{{ parts[1] }}">
            {{ site.i18n.langs[name] }}
          </option>
        {% endfor %}
      </select>
    {% endif %}
  </div>
  <details>
    <summary class="absolute nt3 lh-solid button button-mini right-0 mr4 f7 pointer br2">
      HTML
    </summary>
    <div class="br3 br--bottom overflow-hidden">
      {% include example-html.html content=include.content %}
    </div>
  </details>
</div>