<div class="ba br3 w-100 pa4">
  <form class="fields">
    <fieldset class="fieldset">
      <label for="email" class="field-label">電子信箱</label>
      <div class="field-description" id="email-description">
        必須為 @pdis.nat.gov.tw 結尾的信箱位址。
      </div>
      <input type="email" id="email" class="field-input" pattern=".+@pdis.nat.gov.tw" aria-describedby="email-description">
    </fieldset>

    <fieldset class="fieldset">
      <label for="code" class="field-label">短網址碼</label>
      <div class="field-input-fix">
        <div class="field-input-prefix" id="url-prefix"><span class="sr-only">不用輸入</span>https://pdis.run/</div>
        <input type="text" id="code" class="field-input" placeholder="hedddeca" aria-describedby="url-prefix">
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <button type="submit" class="button button-primary">送出</button>
    </fieldset>
  </form>
</div>