<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    {{ $iframeCSS := resources.Get "css/iframe.scss" | toCSS (dict "targetPath"
    "iframe.css") }}
    <link rel="stylesheet" href="{{ $iframeCSS.RelPermalink }}" />
    <link rel="icon" type="image/png" href="{{ "assets/favicon.png" | relURL
    }}">
    <title>{{ if .Title }}{{ .Title }} | {{ end }}政府網站設計原則</title>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="ma0 pa4 lh-copy plain">
    {{ .Content }}
  </body>
</html>
