{{- if .path -}}
{{- $pages := split .path ";" -}}
  <nav aria-label="麵包屑" class="breadcrumb arrow-separator">
    <ol>
      {{- range $index, $p := $pages -}}
        {{- $i := add $index 1 -}}
        <li>
          {{- if le $i $.current }}
            {{- if eq $i $.current }}
          <a href="/accessibility/demo-page/form-page-s{{ $i }}.html" aria-current="page"><mark>{{ $p }}</mark></a>
            {{- else }}
          <a href="/accessibility/demo-page/form-page-s{{ $i }}.html">{{ $p }}</a>
            {{- end }}
          {{- else }}
          <span>{{ $p }}</span>
          {{- end }}
        </li>
      {{- end }}
    </ol>
  </nav>
{{- end -}}
