<div class="password-input" data-password-input-root>
    <label for="password-input">
      密碼
    </label>
    <div class="password-input__wrapper">
      <input class="password-input__input" id="password-input" name="password" type="password"
             spellcheck="false" autocomplete="current-password" autocapitalize="none"
             data-password-input>
      <button type="button"
              class="button button-primary password-input__toggle"
              aria-controls="password-input"
              aria-label="顯示密碼"
              data-password-toggle
              hidden>
        顯示
      </button>
    </div>
</div>