:root {
  --gov-black: #000;
  --gov-white: #fff;
  --gov-gray-50: #fafafa;
  --gov-gray-100: #f5f5f5;
  --gov-gray-200: #e5e5e5;
  --gov-gray-300: #d4d4d4;
  --gov-gray-400: #a3a3a3;
  --gov-gray-500: #737373;
  --gov-gray-600: #525252;
  --gov-gray-700: #404040;
  --gov-gray-800: #262626;
  --gov-gray-900: #171717;
  --gov-red-50: #fef6f8;
  --gov-red-100: #fce7ec;
  --gov-red-200: #f9d2dc;
  --gov-red-300: #f2a6b9;
  --gov-red-400: #ec7996;
  --gov-red-500: #e64d73;
  --gov-red-600: #de204f;
  --gov-red-700: #b31a40;
  --gov-red-800: #9b1637;
  --gov-red-900: #701028;
  --gov-blue-50: #f7f8fd;
  --gov-blue-100: #ebeef9;
  --gov-blue-200: #c4cbee;
  --gov-blue-300: #9ca8e2;
  --gov-blue-400: #7585d7;
  --gov-blue-500: #4d62cb;
  --gov-blue-600: #3449b2;
  --gov-blue-700: #28398a;
  --gov-blue-800: #1d2862;
  --gov-blue-900: #11183b;
  --gov-green-50: #f7fdfb;
  --gov-green-100: #ebf9f5;
  --gov-green-200: #c4eee0;
  --gov-green-300: #9ce2cb;
  --gov-green-400: #75d7b6;
  --gov-green-500: #4dcba1;
  --gov-green-600: #34b288;
  --gov-green-700: #28896a;
  --gov-green-800: #1d624b;
  --gov-green-900: #113b2d;
  --gov-amber-50: #fffcf5; 
  --gov-amber-100: #fff7e6;
  --gov-amber-200: #fee09a;
  --gov-amber-300: #fec84b;
  --gov-amber-400: #f9b81f;
  --gov-amber-500: #f2930e;
  --gov-amber-600: #eb7805;
  --gov-amber-700: #b85814;
  --gov-amber-800: #8a3c0f;
  --gov-amber-900: #62361c;

  



  --gov-blue: #0d6efd;
  --gov-indigo: #6610f2;
  --gov-purple: #6f42c1;
  --gov-pink: #d63384;
  --gov-red: #dc3545;
  --gov-orange: #fd7e14;
  --gov-yellow: #ffc107;
  --gov-green: #198754;
  --gov-teal: #20c997;
  --gov-cyan: #0dcaf0;
  --gov-gray: #6c757d;
  --gov-primary: #0d6efd;
  --gov-secondary: #6c757d;
  --gov-success: #198754;
  --gov-info: #0dcaf0;
  --gov-warning: #ffc107;
  --gov-danger: #dc3545;
  --gov-light: #f8f9fa;
  --gov-dark: #212529;
  --gov-primary-rgb: 13, 110, 253;
  --gov-secondary-rgb: 108, 117, 125;
  --gov-success-rgb: 25, 135, 84;
  --gov-info-rgb: 13, 202, 240;
  --gov-warning-rgb: 255, 193, 7;
  --gov-danger-rgb: 220, 53, 69;
  --gov-light-rgb: 248, 249, 250;
  --gov-dark-rgb: 33, 37, 41;
  --gov-primary-text-emphasis: #052c65;
  --gov-secondary-text-emphasis: #2b2f32;
  --gov-success-text-emphasis: #0a3622;
  --gov-info-text-emphasis: #055160;
  --gov-warning-text-emphasis: #664d03;
  --gov-danger-text-emphasis: #58151c;
  --gov-light-text-emphasis: #495057;
  --gov-dark-text-emphasis: #495057;
  --gov-primary-bg-subtle: #cfe2ff;
  --gov-secondary-bg-subtle: #e2e3e5;
  --gov-success-bg-subtle: #d1e7dd;
  --gov-info-bg-subtle: #cff4fc;
  --gov-warning-bg-subtle: #fff3cd;
  --gov-danger-bg-subtle: #f8d7da;
  --gov-light-bg-subtle: #fcfcfd;
  --gov-dark-bg-subtle: #ced4da;
  --gov-primary-border-subtle: #9ec5fe;
  --gov-secondary-border-subtle: #c4c8cb;
  --gov-success-border-subtle: #a3cfbb;
  --gov-info-border-subtle: #9eeaf9;
  --gov-warning-border-subtle: #ffe69c;
  --gov-danger-border-subtle: #f1aeb5;
  --gov-light-border-subtle: #e9ecef;
  --gov-dark-border-subtle: #adb5bd;
  --gov-white-rgb: 255, 255, 255;
  --gov-black-rgb: 0, 0, 0;
  --gov-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --gov-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --gov-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --gov-body-font-family: var(--gov-font-sans-serif);
  --gov-body-font-size: 1rem;
  --gov-body-font-weight: 400;
  --gov-body-line-height: 1.5;
  --gov-body-color: #212529;
  --gov-body-color-rgb: 33, 37, 41;
  --gov-body-bg: #fff;
  --gov-body-bg-rgb: 255, 255, 255;
  --gov-emphasis-color: #000;
  --gov-emphasis-color-rgb: 0, 0, 0;
  --gov-secondary-color: rgba(33, 37, 41, 0.75);
  --gov-secondary-color-rgb: 33, 37, 41;
  --gov-secondary-bg: #e9ecef;
  --gov-secondary-bg-rgb: 233, 236, 239;
  --gov-tertiary-color: rgba(33, 37, 41, 0.5);
  --gov-tertiary-color-rgb: 33, 37, 41;
  --gov-tertiary-bg: #f8f9fa;
  --gov-tertiary-bg-rgb: 248, 249, 250;
  --gov-heading-color: inherit;
  --gov-link-color: #0d6efd;
  --gov-link-color-rgb: 13, 110, 253;
  --gov-link-decoration: underline;
  --gov-link-hover-color: #0a58ca;
  --gov-link-hover-color-rgb: 10, 88, 202;
  --gov-code-color: #d63384;
  --gov-highlight-color: #212529;
  --gov-highlight-bg: #fff3cd;
  --gov-border-width: 1px;
  --gov-border-style: solid;
  --gov-border-color: #dee2e6;
  --gov-border-color-translucent: rgba(0, 0, 0, 0.175);
  --gov-border-radius: 0.375rem;
  --gov-border-radius-sm: 0.25rem;
  --gov-border-radius-lg: 0.5rem;
  --gov-border-radius-xl: 1rem;
  --gov-border-radius-xxl: 2rem;
  --gov-border-radius-2xl: var(--gov-border-radius-xxl);
  --gov-border-radius-pill: 50rem;
  --gov-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --gov-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --gov-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --gov-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --gov-focus-ring-width: 0.25rem;
  --gov-focus-ring-opacity: 0.25;
  --gov-focus-ring-color: rgba(13, 110, 253, 0.25);
  --gov-form-valid-color: #198754;
  --gov-form-valid-border-color: #198754;
  --gov-form-invalid-color: #dc3545;
  --gov-form-invalid-border-color: #dc3545
}