:root {
    --gov-black: #000;
    --gov-white: #fff;
    --gov-gray-50: #fafafa;
    --gov-gray-100: #f5f5f5;
    --gov-gray-200: #e5e5e5;
    --gov-gray-300: #d4d4d4;
    --gov-gray-400: #a3a3a3;
    --gov-gray-500: #737373;
    --gov-gray-600: #525252;
    --gov-gray-700: #404040;
    --gov-gray-800: #262626;
    --gov-gray-900: #171717;
    --gov-red-50: #fef6f8;
    --gov-red-100: #fce7ec;
    --gov-red-200: #f9d2dc;
    --gov-red-300: #f2a6b9;
    --gov-red-400: #ec7996;
    --gov-red-500: #e64d73;
    --gov-red-600: #de204f;
    --gov-red-700: #b31a40;
    --gov-red-800: #9b1637;
    --gov-red-900: #701028;
    --gov-blue-50: #f7f8fd;
    --gov-blue-100: #ebeef9;
    --gov-blue-200: #c4cbee;
    --gov-blue-300: #9ca8e2;
    --gov-blue-400: #7585d7;
    --gov-blue-500: #4d62cb;
    --gov-blue-600: #3449b2;
    --gov-blue-700: #28398a;
    --gov-blue-800: #1d2862;
    --gov-blue-900: #11183b;
    --gov-green-50: #f7fdfb;
    --gov-green-100: #ebf9f5;
    --gov-green-200: #c4eee0;
    --gov-green-300: #9ce2cb;
    --gov-green-400: #75d7b6;
    --gov-green-500: #4dcba1;
    --gov-green-600: #34b288;
    --gov-green-700: #28896a;
    --gov-green-800: #1d624b;
    --gov-green-900: #113b2d;
    --gov-amber-50: #fffcf5; 
    --gov-amber-100: #fff7e6;
    --gov-amber-200: #fee09a;
    --gov-amber-300: #fec84b;
    --gov-amber-400: #f9b81f;
    --gov-amber-500: #f2930e;
    --gov-amber-600: #eb7805;
    --gov-amber-700: #b85814;
    --gov-amber-800: #8a3c0f;
    --gov-amber-900: #62361c;
}