---
---

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

code, kbd {
  font-family: 'Inconsolata', monospace;
}

summary.cursor-help {
  cursor: help;
}

main {
  min-height: 90vh;
}

.site-footer {
  background: var(--backgroundColorLayer1);
  
  .circle, .triangle, .square {
    fill: var(--secondaryTextColor);
  }
}

.logo-svg {
  height: 2em;
  width: 2em;
  margin-right: 1em;
}

.logo {
  color: inherit;
  align-items: center;
  display: inline-flex;
  background-color: var(--backgroundColor);
  border-color: var(--borderColor);

  &:not(:hover) path, &:not(:hover) circle {
    fill: var(--borderColor);
  }
  
  .square, .triangle, .circle  {
    transition: all 0.6s ease-in-out;
  }

  .circle {
    transition-delay: 0.3s;
  }
  .triangle {
    transition-delay: 0.6s;
  }
}

iframe {
  min-height: 300px;
}

.gap2 {
  gap: 1em;
}

.gap4 {
  gap: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.highlight {
  margin: 0;
  line-height: 1.6;

  pre {
    margin: 0;

    code {
      padding: 0;
      font-size: 1em;
    }
  }
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.wrap {
  word-wrap: break-word;
}