---
---

@import "variables.scss";
@import "reset.scss";
@import "typography.scss";
@import "components/ctas.scss";
@import "components/skip-to.css";
@import "components/warning-text.scss";
@import "components/form.scss";
@import "components/table.scss";
@import "components/checkable.scss";
@import "components/list.scss";
@import "components/official-document.scss";
@import "components/nav.scss";
@import "components/layout.scss";
@import "components/breadcrumb.scss";
@import "components/accordion.css";
@import "components/tabs.css";
@import "tachyons.css";
@import "color.css";
@import "components/footer.scss";

body,
button,
textarea,
input {
  font-weight: 400;
  color: var(--textColor);
}

u {
  text-underline-position: under;
}

hr {
  border-style: solid;
  border-bottom: 0;
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  padding: 0.4em;
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  border-radius: 0.45rem;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

select {
  padding: 0.4em;
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  border-radius: 0.45rem;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

code {
  font-size: 0.9em;
  border-radius: 1em;
  background-color: var(--backgroundColorLayer1);
  padding: 0.1em 0.4em;
}

div, button, summary, a, span, textarea, input, select, code, fieldset, label {
  box-sizing: border-box;
}

.gap2 {
  gap: 1em;
}

.gap4 {
  gap: 2em;
}
