@import "variables";  //背景黑底設定
@import "reset";
@import "typography";
@import "components/ctas";
@import "components/skip-to"; //首頁 "跳至內容區字樣" 消失
@import "components/warning-text";
@import "components/form";
@import "components/table";
@import "components/checkable";
@import "components/list";
@import "components/official-document";
@import "components/nav";
@import "components/layout";
@import "components/breadcrumb";
@import "components/accordion";
@import "components/tabs";
@import "tachyons";
@import "color";


body,
button,
textarea,
input {
  font-weight: 400;
  color: var(--textColor);
}

u {
  text-underline-position: under;
}

hr {
  border-style: solid;
  border-bottom: 0;
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  border-radius: 0.45rem;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

select {
  padding: 0.4rem;
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  border-radius: 0.45rem;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

code {
  font-size: 0.9rem;
  border-radius: 1rem;
  background-color: var(--backgroundColorLayer1);
  padding: 0.1rem 0.4rem;
}

div, button, summary, a, span, textarea, input, select, code, fieldset, label {
  box-sizing: border-box;
}

.gap2 {
  gap: 1rem;
}

.gap4 {
  gap: 2rem;
}
