---
---

[hidden] {
  display: none !important;
}

*:not(article) {
  > h1, > h2, > h3, > h4, > h5, > h6 {

    &:not(article &) {
      font-size: inherit;
    }
    margin: 0;
  }
}

article {
  h2:first-child {
    margin-top: 0;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}
