@import 'lang/zh.css';

:root {
  &:lang(zh) {
    --body-font-family: helvetica, 'Noto Sans TC', system-ui, sans-serif;
  }
  &:lang(en) {
    --body-font-family: helvetica, system-ui, sans-serif;
  }
  &:lang(ja) {
    --body-font-family: helvetica, 'Noto Sans JP', system-ui, sans-serif;
  }
  &:lang(th) {
    --body-font-family: helvetica, 'Noto Sans Thai', system-ui, sans-serif;
  }
  &:lang(vn) {
    --body-font-family: inter, system-ui, sans-serif;
  }

  --body-line-height: 1.7;
  --body-font-size: 16px;

  --description-font-size: 0.82em;
  --description-letter-spacing: 0.04em;

  --paragraph-width: 35em;
  --heading-font-weight: 600;
  
  --h6-font-size: 1em;
  --h6-font-weight: 700;

  --h5-font-size: 1.2em;
  --h5-font-weight: 400;

  --h4-font-size: 1.25em;
  --h4-font-weight: 600;
  
  --h3-font-size: 1.45em;
  --h3-font-weight: 600;
  
  --h2-font-size: 1.9em;
  --h2-font-weight: 600;

  --h1-font-size: 2.2em;
  --h1-font-weight: 600;
}

a {
  color: var(--linkColor);
  text-decoration-thickness: 1px;
  text-underline-position: under;
  
  &:hover {
    text-decoration-thickness: 2px;
  }
}

b, strong {
  font-weight: 700;
}

mark {
  color: var(--textColor);
  background: none;
  box-shadow: inset 0 -0.6em var(--highlightColor);
  padding: 0 0.1em;
}

.w-paragraph {
  max-width: var(--paragraph-width);
}

:lang(en, vn) {
  --body-line-height: 1.45em;
  --body-font-family: Helvetica, Arial, sans-serif;
  --description-letter-spacing: 0.01em;
}

h6, h5, h4, h3, h2, h1,
.heading6, .heading5, .heading4, .heading3, .heading2, .heading1 {
  font-weight: var(--heading-font-weight);
  line-height: 1.5em;
}

h6, .heading6 {
  font-size: var(--h6-font-size);
  font-weight: var(--h6-font-weight);
}

h5, .heading5 {
  font-size: var(--h5-font-size);
  font-weight: var(--h5-font-weight);

}

h4, .heading4 {
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);

}
h3, .heading3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);

}

h2, .heading2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);

}

h1, .heading1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

body, a, button, input, textarea, select {
  font-family: var(--body-font-family);
}

body, a {
  line-height: var(--body-line-height);
  font-size: var(--body-font-size);
}

.desc {
  font-size: var(--description-font-size);
  font-weight: var(--description-font-weight);
  letter-spacing: var(--description-letter-spacing);
}
