---
---

:root {
  --backgroundColor: #fdfdfd;
  --textColor: #1a1a1a;
  --secondaryTextColor: #404040;
  --mutedTextColor: #707070;
  --backgroundColorLayer1: #f0eeed;
  --backgroundColorLayer2: #e3e1df;
  --linkColor: #004ecc;
  --borderColor: #ccc;
  --primaryColor: #262927;
  --dangerColor: #CC3100;
  --warningColor: #ff6600;
  --highlightColor: rgba(255, 255, 0, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: #151615;
    --textColor: #dbdfdf;
    --secondaryTextColor: #cfd5d5;
    --mutedTextColor: #b4b6b8;
    --backgroundColorLayer1: #222121;
    --backgroundColorLayer2: #292928;
    --linkColor: #2a8be5;
    --borderColor: #414141;
    --primaryColor: #ffffff;
    --dangerColor: #ff7f7f;
    --warningColor: #ff6600;
    --highlightColor: rgba(168, 168, 0, 0.6);
  }
}

body, .plain {
  background-color: var(--backgroundColor);
  border-color: var(--borderColor);
  color: var(--textColor);
}

.inverted {
  color: var(--backgroundColor);
  background-color: var(--textColor);
}

.bg-layer1 { background-color: var(--backgroundColorLayer1) }
.bg-layer2 { background-color: var(--backgroundColorLayer2) }
.fg-subtle { color: var(--mutedTextColor) }
.b-main { border-color: var(--textColor); }

textarea, input {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

* {
  border-color: inherit;
}
