nav.breadcrumb {
  padding: 0.8rem 1rem;
  border: 0px solid var(--textColor);
  border-radius: 4px;
  background: var(--backgroundColor);

  ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  li {
    display: inline;
  }

  [aria-current="page"] {
    color: var(--textColor);
    font-weight: 700;
    text-decoration: none;
  }

  // render as slash separator
  // use li + li::before to skip the first item
  li + li::before {
    display: inline-block;
    margin: 0 0.25rem;
    transform: rotate(15deg);
    border-right: 0.1rem solid currentcolor;
    height: 0.8rem;
    content: "";
  }

  // render as slash separator
  &.arrow-separator {  
    // Size of chevron (excluding border) 7/16 px ≅ 0.4375
    $chevron-size: 0.4375rem;
    // Size of chevron border
    $chevron-border-min-width: 1px;
    $chevron-border-width: 0.0625rem;

    // Calculated altitude (△↕) of the right-angled isosceles chevron with sides
    // of length 8 (7px + 1px border):
    //
    // √(8² + 8²) * 0.5 ≅ 5.655
    // 5.655 / 16 ≅ 0.3534375
    $chevron-altitude-calculated: 0.3534375rem;

    // use li + li::before to skip the first item
    li + li::before {
      // ref: https://github.com/alphagov/govuk-frontend/blob/main/packages/govuk-frontend/src/govuk/components/breadcrumbs/_index.scss
      // Create a chevron using a box with borders on two sides, rotated 45deg.
      content: "";
      display: inline-block;

      top: 0;
      bottom: 0;

      width: $chevron-size;
      height: $chevron-size;

      margin: auto 0.25rem;

      transform: translateX(-25%) rotate(45deg);

      border: solid;
      border-width: $chevron-border-min-width $chevron-border-min-width 0 0;
      border-color: var(--textColor);
    }
  }
}
