.checkable-wrapper-v,
.checkable-wrapper-h {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.checkable-wrapper-v {
  align-items: stretch;
  flex-direction: column;
}

.checkable-item {
  display: flex;
  align-items: baseline;
  justify-content: stretch;
  column-gap: 1em;
  flex-wrap: wrap;

  input[type=radio],
  input[type=checkbox] {
    flex: 0 1 auto;
  }

  label {
    flex: 1 1;
  }
}

.chcecked--extra-fields {
  &:not(:checked) ~ .fields {
    display: none;
  }

  & ~ .fields {
    margin-top: 1em;
    width: 100%;
    margin-left: 1.7em;
  }
}
