a.link-block {
  display: inline-block;
  padding: 0.6em 1.2em;
  color: var(--linkColor);
  font-weight: 600;
  text-decoration-thickness: 1px;
  text-underline-position: from-font;
  border: 1px solid var(--backgroundColorLayer2);
  
  &:hover, &:focus {
    text-decoration-thickness: 2px;
  }
}

button.button,
summary.button {
  --buttonColor: var(--backgroundColor);
  --buttonBorderColor: var(--borderColor);
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;
  border: 1px solid var(--buttonBorderColor);
  border-radius: 0.45rem;
  color: var(--textColor);
  background: var(--backgroundColor);
  cursor: pointer;
  
  &:hover:not(.button-disabled):not(:disabled), &:focus {
    box-shadow: 
      inset 0 0 1000px rgba(0, 0, 0, 0.05),
      0 0 0 2px rgba(0, 0, 0, 0.05);
    border-color: var(--buttonBorderColor);
  }                 

  &:active:not(:disabled):not(.button-disabled) {
    transform: translateY(1px);
  }
  
  &.button-danger,
  &.button-primary {
    color: var(--backgroundColor);
    background: var(--buttonColor);
    border-color: var(--buttonBorderColor);
  
    &:hover:not(:disabled):not(.button-disabled), &:focus {
      box-shadow: 
        inset 0 0 1000px rgba(0, 0, 0, 0.05),
        0 0 0 1px var(--backgroundColor),
        0 0 0 2px var(--buttonColor);
    }
  }

  &.button-primary {
    --buttonColor: var(--primaryColor);
    --buttonBorderColor: var(--primaryColor);
  }

  &.button-danger {
    --buttonColor: var(--dangerColor);
    --buttonBorderColor: var(--dangerColor);
  }

  &[disabled], &.button-disabled {
    --buttonBorderColor: var(--backgroundColor);
    cursor: not-allowed;
    outline: 1px dashed var(--borderColor);
    border-width: 2px;
    border-radius: 0.45rem;
    opacity: 0.8;
    box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.05);
  }
  
  &.button-mini {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
  }

  &.button-small {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
  }

  &.button-large {
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
  }
}
