a.link-block {
  border: 1px solid var(--backgroundColorLayer2);
  color: var(--linkColor);
  display: inline-block;
  font-weight: 600;
  padding: 0.6em 1.2em;
  text-decoration-thickness: 1px;
  text-underline-position: from-font;
  
  &:hover, &:focus {
    text-decoration-thickness: 2px;
  }
}

button.button,
summary.button {
  --buttonColor: var(--backgroundColor);
  --buttonBorderColor: var(--borderColor);

  background: var(--backgroundColor);
  border: 1px solid var(--buttonBorderColor);
  border-radius: 0.45rem;
  color: var(--textColor);
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;
  
  &:hover:not(.button-disabled, :disabled), &:focus {
    border-color: var(--buttonBorderColor);
    box-shadow:
      inset 0 0 1000px var(--hoverOverlay),
      0 0 0 2px var(--hoverOverlay);
  }                 

  &:active:not(:disabled, .button-disabled) {
    transform: translateY(1px);
  }
  
  &.button-danger,
  &.button-primary {
    background: var(--buttonColor);
    border-color: var(--buttonBorderColor);
    color: var(--backgroundColor);
  
    &:hover:not(:disabled, .button-disabled), &:focus {
      box-shadow:
        inset 0 0 1000px var(--hoverOverlay),
        0 0 0 1px var(--backgroundColor),
        0 0 0 2px var(--buttonColor);
    }
  }

  &.button-primary {
    --buttonColor: var(--primaryColor);
    --buttonBorderColor: var(--primaryColor);
  }

  &.button-danger {
    --buttonColor: var(--dangerColor);
    --buttonBorderColor: var(--dangerColor);
  }

  &[disabled], &.button-disabled {
    --buttonBorderColor: var(--borderColor);

    border-radius: 0.45rem;
    border-width: 2px;
    box-shadow: inset 0 0 1000px var(--hoverOverlay);
    cursor: not-allowed;
    opacity: 0.8;
    outline: 1px dashed var(--borderColor);
  }
  
  &.button-mini {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
  }

  &.button-small {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
  }

  &.button-large {
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
  }
}
