/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Footer Styles */
.footer {
    background-color: #171717;
    /* Dark Gray from the palette */
    color: #FFFFFF;
    /* White */
    padding: 20px 0;
}

.width-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}

.footer__logo {
    flex: 1;
    /* text-align: center; */
}

.footer__logo-img {
    max-height: 60px;
}

.footer__info,
.footer__legal,
.footer__section {
    flex: 1;
    min-width: 250px;
    margin: 10px 0;
}

.footer__info p,
.footer__legal p,
.footer__section p {
    margin: 5px 0;
}

.footer__link {
    color: #EBB95F;
    /* Amber 300 */
    text-decoration: none;
}

.footer__link:hover,
.footer__link:focus {
    text-decoration: underline;
    color: #F2930E;
    /* Amber 500 */
}

.footer__inline-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.footer__inline-list-item {
    margin: 0 15px;
}

.footer__support-links {
    width: 100%;
    text-align: center;
}

.footer__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.footer__list-item {
    margin: 5px 0;
    flex: 0 0 50%;
}

.footer__navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__heading {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer__divider {
    border: 0;
    border-top: 1px dashed #E5E5E5;
    /* Amber 300 */
    margin: 20px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Responsive Design */
@media (max-width: 768px) {

    .footer__content,
    .footer__navigation {
        flex-direction: column;
        text-align: center;
    }

    .footer__info,
    .footer__legal,
    .footer__section {
        text-align: center;
    }

    .footer__list-item {
        flex: 0 0 50%;
    }
}