@import 'list';

.fields {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.fieldset {
  align-items: start;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0;
  position: relative;
  
  &.fieldset-has-error {
    .field-label::before {
      color: var(--dangerColor);
      content: '⚹';
      margin-right: 0.6em;
    }

    .field-description {
      color: var(--dangerColor);
    }
  }

  .field-label {
    font-weight: 600;
  }

  .field-required {
    color: var(--dangerColor);
    margin-left: 0.6em;
  }
  
  .field-description {
    font-size: var(--description-font-size);
    letter-spacing: var(--description-letter-spacing);
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
    @extend .list;
  }

  @media not all and (hover: hover) {
    .field-input {
      // Ensure there's no zoom on mobile when focusing on the field.
      font-size: 16px;
    }
  }
}

.field-input-fixes {
  align-items: center;
  background-color: var(--backgroundColorLayer1);
  border-radius: 0.45rem;
  display: flex;
  overflow: hidden;
  width: 100%;
  
  .field-input {
    flex: 1 1 auto;
    margin: .4rem;
  }

  &:has(.field-input-prefix) .field-input {
    margin-left: 0;
  }

  &:has(.field-input-suffix) .field-input {
    margin-right: 0;
  }

  .field-input-prefix,
  .field-input-suffix {
    font-size: 0.95em;
    padding: 0 0.8rem;
  }
}

.checkable-wrapper-v,
.checkable-wrapper-h {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}

.checkable-wrapper-v {
  align-items: stretch;
  flex-direction: column;
}

.checkable-wrapper-h {
  .checkable-item {
    flex: 1 1 30%;
  }
}

.checkable-item {
  align-items: baseline;
  column-gap: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;

  input[type="radio"],
  input[type="checkbox"] {
    flex: 0 1 auto;
  }

  label {
    flex: 1 1;
  }
}
