.nav-link {
  display: block;
  padding: 0.6em 1.4em;
  position: relative;

  &[aria-current="page"] {
    background-color: var(--backgroundColorLayer1);
    color: inherit;
    font-weight: 700;
    text-decoration: none;
  }
}
