.nav-link {
  position: relative;
  padding: 0.6rem 1.4rem;
  display: block;

  &[aria-current="page"] {
    text-decoration: none;
    background-color: var(--backgroundColorLayer1);
    color: inherit;
    font-weight: 700;
  }
}
