.radio-wrapper-v,
.radio-wrapper-h {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.radio-wrapper-v {
  align-items: stretch;
  flex-direction: column;
}

.radio-item {
  display: flex;
  align-items: center;
  justify-content: stretch;
  column-gap: 1em;
  flex-wrap: wrap;

  label {
    flex: 1 0 auto;
  }
}

.chcecked--extra-fields {
  &:not(:checked) ~ .fields {
    display: none;
  }

  & ~ .fields {
    margin-top: 1em;
    width: 100%;
    margin-left: 1.7em;
  }
}