---
---

body:has(skip-to:focus-within) {
  border-top: 3em solid transparent;
}

skip-to {
  position: absolute;
  top: 0;
  left: 0; right: 0;
}

skip-to .skip-to {
  display: block;
  background: var(--linkColor);
  color: #fff;
  text-decoration: none;
  padding: 1em;
  line-height: 1;
  font-size: 14px;
}

skip-to .skip-to:focus {
  box-shadow: 0 0 0 3px var(--subtleBackgroundColor);
  outline: none;
}

skip-to .skip-to:not(:focus) {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}