:root {
    --tabs-header-bg: var(--backgroundColor);
    --tabs-header-fontColor: var(--textColor);
    --tabs-header-active-bg: var(--primaryColor);
    --tabs-header-active-fontColor: var(--backgroundColor);
    --tabs-header-hover-bg: var(--borderColor);
    --tabs-header-hover-fontColor: var(--textColor);
    --tabs-body-bg: var(--backgroundColor);
    --tabs-border: var(--borderColor);
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tabs-label {
    background: var(--tabs-header-bg);
    border: 2px solid var(--tabs-border);
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0;
    color: var(--tabs-header-fontColor);
    cursor: pointer;
    float: left;
    font: italic 1em;
    margin-right: 2px;
    padding: 10px 15px;
}

label:hover {
    background: var(--tabs-header-hover-bg);
    color: var(--tabs-header-hover-fontColor);
}

.tabs-radio:checked+.tabs-label {
    background: var(--tabs-header-active-bg);
    color: var(--tabs-header-active-fontColor);
    font-weight: bold;
}

.tabs-radio:checked+.tabs-label+.tabs-content {
    display: initial;
}

.tabs-radio {
    display: none;
}

.tabs-content {
    background: var(--tabs-body-bg);
    border: 2px solid var(--tabs-border);
    border-radius: 0 10px 10px;
    clear: both;
    display: none;
    float: left;
    height: auto;
    order: 1;
    padding: 1rem;
    position: relative;
    width: 100%;
}