.warning-text {
  box-shadow: inset 0.4em 0 0 0 var(--warningColor);
  padding: 0.8em 1.2em 0.8em 1.6em;
  position: relative;
  
  &::before {
    background: var(--warningColor);
    border-radius: 0.2em;
    content: '';
    inset: 0;
    opacity: 0.1;
    position: absolute;
    z-index: -1;
  }

  p { margin: 0.5em 0; }
  p:first-of-type { margin-top: 0; }
  p:last-of-type { margin-bottom: 0; }
}