<div class="display-code-example bg-layer1 overflow-auto fs7 ph3 pv3 br3{{ with .class }} {{ . }}{{ end }}">
  <pre><code class="language-html">{{- $raw := .input_content | strings.TrimSpace -}}
{{- $current_content := $raw | htmlEscape -}}
{{- with .highlight_terms_string -}}
  {{- $highlight_terms := split . "," -}}
  {{- range $highlight_terms -}}
    {{- $term_to_highlight := . -}}
    {{- $escaped_term := $term_to_highlight | htmlEscape -}}
    {{- $current_content = replace $current_content $escaped_term (printf "<mark>%s</mark>" $escaped_term) -}}
  {{- end -}}
  {{- $current_content | safeHTML -}}
{{- else -}}
  {{- $current_content | safeHTML -}}
{{- end -}}</code></pre>
</div>
