---
---

@import "variables.css";
@import "tachyons.css";
@import "reset.css";
@import "components/skip-to.css";

body,
button,
textarea,
input {
  font-family: system-ui, sans-serif;
  color: var(--textColor);
}

body, a {
  line-height: 1.7em;
}

main {
  min-height: 90vh;
}

.footer {
  background: var(--subtleBackgroundColor);
  
  .circle, .triangle, .square {
    fill: var(--secondaryTextColor);
  }
}

a {
  color: var(--linkColor);
  font-weight: 600;
  text-decoration-thickness: 1px;
  text-underline-position: from-font;
  
  &:hover {
    border-radius: 6px;
    text-decoration-thickness: 2px;
  }
}

nav a {
  position: relative;

  &[aria-current="page"] {
    text-decoration: none;

    &:before {
      display: inline-block;
      vertical-align: text-bottom;
      content: "";
      width: 0.2em;
      height: 1.2em;
      margin-right: 1em;
      background-color: var(--linkColor);
    }
  }
}

.logo {
  background-color: var(--backgroundColor);
  border-color: var(--borderColor);

  &:not(:hover) path, &:not(:hover) circle {
    fill: var(--borderColor);
  }
  
  .square, .triangle, .circle  {
    transition: all 0.6s ease-in-out;
  }

  .circle {
    transition-delay: 0.3s;
  }
  .triangle {
    transition-delay: 0.6s;
  }
}

iframe {
  min-height: 300px;
}

.gap4 {
  gap: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.form-set {
  margin-bottom: 0.5em;

  label {
    display: block;
    padding: 0.5em;
  }
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--borderColor);
  border-radius: 4px;

  form:has(:focus) &:invalid {
    box-shadow: inset 0 0 0 1px #f00;
    border-color: #f00;
  }
}

button, .button {
  display: inline-block;
  padding: 0.7em 1.2em 0.8em;
  border: 0;
  border-radius: 4px;
  background-color: var(--subtleBackgroundColor);
  color: var(--textColor);
  cursor: pointer;
  font-weight: 600;
  
  &:hover {
    box-shadow: inset 0px 10em 0 0 rgba(0, 0, 0, 0.03);
  }
}
