---
---

:root {
  --backgroundColor: #fdfdfd;
  --textColor: #1a1a1a;
  --secondaryTextColor: #404040;
  --mutedTextColor: #707070;
  --backgroundColorLayer1: #f0eeed;
  --backgroundColorLayer2: #e3e1df;
  --linkColor: #004ecc;
  --borderColor: #ccc;
    --successColor: #006f3b;
    --dangerColor: #CC3100;
    --warningColor: #d6ae2c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: #151615;
    --textColor: #dbdfdf;
    --secondaryTextColor: #cfd5d5;
    --mutedTextColor: #b4b6b8;
    --backgroundColorLayer1: #1f1e1e;
    --backgroundColorLayer2: #292928;
    --linkColor: #43a4ff;
    --borderColor: #414141;
    --successColor: #00bf65;
    --dangerColor: #f14813;
    --warningColor: #d6ae2c;
  }
}

body, .plain {
  background-color: var(--backgroundColor);
  border-color: var(--borderColor);
  color: var(--textColor);
}

.inverted {
  color: var(--backgroundColor);
  background-color: var(--textColor);
}

.bg-subtle { background-color: var(--backgroundColorLayer1) }
.fg-subtle { background-color: var(--mutedTextColor) }

textarea, input {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

* {
  border-color: inherit;
}
