{{- $path := .Get 0 -}}
{{- $absolute := (eq (.Get 1) "abs") -}}
{{- $lookupPath := $path -}}
{{- if (hasPrefix $path "assets/") -}}
  {{- $lookupPath = strings.TrimPrefix "assets/" $path -}}
{{- end -}}
{{- $res := false -}}
{{- if ne $path "/" -}}
  {{- $res = resources.Get $lookupPath -}}
{{- end -}}
{{- if $res -}}
  {{- if $absolute }}{{ $res.Permalink }}{{ else }}{{ $res.RelPermalink }}{{ end -}}
{{- else -}}
  {{- if eq $path "/" -}}
    {{- if $absolute }}{{ "" | absURL }}{{ else }}{{ "" | relURL }}{{ end -}}
  {{- else -}}
    {{- if $absolute }}{{ $path | absURL }}{{ else }}{{ $path | relURL }}{{ end -}}
  {{- end -}}
{{- end -}}