{{ define "main" }}
<div class="relative tc">{{ readFile "static/svgs/hero.svg" | safeHTML }}</div>
<article class="w-paragraph center">
  <p>
    讓政府網站設計原則更加完善，我們正在全力開創新的典範，以便為您提供有價值的知識及技術。
  </p>

  <p>讓我們攜手合作，共同見證政府網站設計原則的進步和成長。</p>
</article>

<h2 class="heading5 tc mt5">設計制度內容</h2>
<p class="w-paragraph"></p>
<div class="three-col gap4 mv5">
  {{ range .Site.Sections }} {{ if .Pages }} {{ $filepath := path.Join .File.Dir
  "_index.md" }} {{ $doc := .Site.GetPage $filepath }} {{ $svgPath := printf
  "svgs/feat_%s.svg" .Section }}
  <div class="ph2 tc w-100" style="flex: 1 1 calc(33.333% - 2rem)">
    <a class="db" {{ with $doc }}href="{{ .RelPermalink }}" {{ end }}>
      <div class="w-70 center">
        <img src="{{ $svgPath | relURL }}" alt="{{ .Title }}" />
      </div>
      <div class="mt3">{{ .Title }}</div>
    </a>
  </div>
  {{ end }} {{ end }}
</div>
{{ end }}
