<div class="bg-layer1 overflow-auto fs7 ph3 pv3 br3">
  <pre><code class="language-html">
  {{- $raw_content := .content -}}
  {{- with .context.Params.highlight -}}
    {{- $highlight_terms := split . "," -}}
    {{- $final_content := $raw_content -}}
    {{- range $highlight_terms -}}
      {{- $term_to_highlight := . -}}
      {{- $final_content = replace $final_content $term_to_highlight (printf "<mark>%s</mark>" $term_to_highlight) -}}
    {{- end -}}
    {{ $final_content | safeHTML }}
  {{- else -}}
    {{ $raw_content }}
  {{- end -}}
  </code></pre>
</div>
