<div class="fields">
  <fieldset class="fieldset">
    <div class="checkable-wrapper-h">
      <div class="checkable-item">
        <input type="radio" name="identification" id="h-healthid" value="healthid">
        <label for="h-healthid">健保卡</label>
      </div>
      <div class="checkable-item">
        <input type="radio" name="identification" id="h-moica" value="moica">
        <label for="h-moica">自然人憑證</label>
      </div>
      <div class="checkable-item">
        <input type="radio" name="identification" id="h-phone" value="phone">
        <label for="h-phone">手機門號</label>
      </div>
    </div>
  </fieldset>

  <fieldset class="fieldset">
    <div class="checkable-wrapper-h">
      <div class="checkable-item">
        <input type="checkbox" name="check-identification" id="check-h-healthid" value="healthid">
        <label for="check-h-healthid">健保卡</label>
      </div>
      <div class="checkable-item">
        <input type="checkbox" name="check-identification" id="check-h-moica" value="moica">
        <label for="check-h-moica">自然人憑證</label>
      </div>
      <div class="checkable-item">
        <input type="checkbox" name="check-identification" id="check-h-phone" value="phone">
        <label for="check-h-phone">手機門號</label>
      </div>
    </div>
  </fieldset>
</div>