
<fieldset class="fieldset">
  <div class="checkable-wrapper-v">
    <div class="checkable-item">
      <input type="radio" name="identification" id="v-healthid" value="healthid">
      <label for="v-healthid">健保卡</label>
    </div>
    <div class="checkable-item">
      <input type="radio" name="identification" id="v-moica" value="moica">
      <label for="v-moica">自然人憑證</label>
    </div>
    <div class="checkable-item">
      <input type="radio" name="identification" id="v-phone" value="phone">
      <label for="v-phone">手機門號</label>
    </div>
  </div>
<hr>
  <div class="checkable-wrapper-v">
    <div class="checkable-item">
      <input type="checkbox" name="identification" id="check-v-healthid" value="healthid">
      <label for="check-v-healthid">健保卡</label>
    </div>
    <div class="checkable-item">
      <input type="checkbox" name="identification" id="check-v-moica" value="moica">
      <label for="check-v-moica">
        自然人憑證
        <div class="desc">
          自然人憑證是可以在網路上作資料交換時，如同網路身分證辨識雙方身分。「憑證」包含了「數位簽章」跟「公開金鑰」。
        </div>
      </label>
    </div>
    <div class="checkable-item">
      <input type="checkbox" name="identification" id="check-v-phone" value="phone">
      <label for="check-v-phone">手機門號</label>
    </div>
  </div>
</fieldset>