<header class="headerfordemo" data-module="header">
    <div class="header-top">
        <div class="width-container header-top-container">
            <div class="header-actions">
                <a href="#" class="header-link small-text">網站導覽</a>
                <a href="#" class="header-link small-text" lang="zh-TW">中文</a>
                <a href="#" class="header-link small-text" lang="en">英文</a>
            </div>
        </div>
    </div>
    <div class="header-divider width-container"></div>
    <div class="header-bottom">
        <div class="width-container header-container">
            <div class="header-logo">
                <a href="#" class="header-link">
                    <img src="{{ "/assets/favicon.png" | absolute_url }}" alt="網站標誌" class="header-logotype">
                </a>
            </div>
            <button class="header-menu-button" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">≡</button>
            <div class="header-content">
                <div class="dropdown">
                    <a href="#" class="header-link service-name js-dropdown-toggle">Service name 1 <span
                            class="arrow-down">▼</span></a>
                    <nav aria-label="Hierarchical Menu" class="header-navigation js-dropdown-menu">
                        <ul class="header-navigation-list">
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    1</a></li>
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    2</a></li>
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    3</a></li>
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    4</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="dropdown">
                    <a href="#" class="header-link service-name js-dropdown-toggle">Service name 2 <span
                            class="arrow-down">▼</span></a>
                    <nav aria-label="Hierarchical Menu" class="header-navigation js-dropdown-menu">
                        <ul class="header-navigation-list">
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    1</a></li>
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    2</a></li>
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    3</a></li>
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    4</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="dropdown">
                    <a href="#" class="header-link service-name js-dropdown-toggle">Service name 3 <span
                            class="arrow-down">▼</span></a>
                    <nav aria-label="Hierarchical Menu" class="header-navigation js-dropdown-menu">
                        <ul class="header-navigation-list">
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    1</a></li>
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    2</a></li>
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    3</a></li>
                            <li class="header-navigation-item"><a class="header-link" href="#">Navigation item
                                    4</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Additional links for mobile view -->
                <div class="header-additional-links">
                    <div class="header-divider width-container"></div>
                    <div class="header-actions-row">
                        <a href="#" class="header-link small-text">網站導覽</a>
                        <a href="#" class="header-link small-text" lang="zh-TW">中文</a>
                        <a href="#" class="header-link small-text" lang="en">英文</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
