<div class="progress-stepper">
  <ol class="progress-stepper__segments">
    <li class="progress-stepper__segment progress-stepper__segment--complete">
      <span class="progress-stepper__label">個人資料</span>
      <span class="progress-stepper__status-text">已完成</span>
    </li>
    <li class="progress-stepper__segment progress-stepper__segment--complete">
      <span class="progress-stepper__label">家戶狀態</span>
      <span class="progress-stepper__status-text">已完成</span>
    </li>
    <li class="progress-stepper__segment progress-stepper__segment--current" aria-current="step">
      <span class="progress-stepper__label">檢附文件</span>
    </li>
    <li class="progress-stepper__segment">
      <span class="progress-stepper__label">簽章</span>
      <span class="progress-stepper__status-text">未完成</span>
    </li>
    <li class="progress-stepper__segment">
      <span class="progress-stepper__label">檢閱與送出</span>
      <span class="progress-stepper__status-text">未完成</span>
    </li>
  </ol>
  <div class="progress-stepper__heading">
    <span class="progress-stepper__heading-counter">
      <span class="progress-stepper__heading-text">第</span>
      <span class="progress-stepper__current-step">3</span>
      <span class="progress-stepper__heading-text">步，共</span>
      <span class="progress-stepper__total-steps">5</span>
      <span class="progress-stepper__heading-text">步</span>
    </span>
    <h4 class="progress-stepper__heading-text">檢附文件</h4>
  </div>
</div>
