<div class="progress-stepper progress-stepper--no-labels">
  <ol class="progress-stepper__segments" aria-hidden="true">
    <li class="progress-stepper__segment progress-stepper__segment--complete"></li>
    <li class="progress-stepper__segment progress-stepper__segment--complete"></li>
    <li class="progress-stepper__segment progress-stepper__segment--current"></li>
    <li class="progress-stepper__segment"></li>
    <li class="progress-stepper__segment"></li>
  </ol>
  <div class="progress-stepper__heading">
    <span class="progress-stepper__heading-counter">
      <span class="progress-stepper__heading-text">第</span>
      <span class="progress-stepper__current-step">3</span>
      <span class="progress-stepper__heading-text">步，共</span>
      <span class="progress-stepper__total-steps">5</span>
      <span class="progress-stepper__heading-text">步</span>
    </span>
    <h4 class="progress-stepper__heading-text">檢附文件</h4>
  </div>
</div>
