<ul
  role="tree"
  class="tree-view"
>
  <li
    role="treeitem"
    aria-expanded="true"
    aria-level="1"
    aria-selected="false"
    aria-labelledby="tvb-src"
    tabindex="0"
  >
    <span class="tree-view__label" id="tvb-src">採購招標作業程序</span>
    <ul role="group">
      <li
        role="treeitem"
        aria-expanded="false"
        aria-level="2"
        aria-selected="false"
        aria-labelledby="tvb-js"
        tabindex="-1"
      >
        <span class="tree-view__label" id="tvb-js">採購作業</span>
        <ul role="group">
          <li
            role="treeitem"
            aria-level="3"
            aria-selected="false"
            aria-labelledby="tvb-button"
            tabindex="-1"
          >
            <span class="tree-view__label" id="tvb-button">公告金額以上</span>
          </li>
          <li
            role="treeitem"
            aria-level="3"
            aria-selected="false"
            aria-labelledby="tvb-input"
            tabindex="-1"
          >
            <span class="tree-view__label" id="tvb-input">未達公告金額採購</span>
          </li>
        </ul>
      </li>
      <li
        role="treeitem"
        aria-level="2"
        aria-selected="true"
        aria-current="true"
        aria-labelledby="tvb-index"
        tabindex="-1"
      >
        <span class="tree-view__label" id="tvb-index">共同投標</span>
      </li>
      <li
        role="treeitem"
        aria-level="2"
        aria-selected="false"
        aria-labelledby="tvb-style"
        tabindex="-1"
      >
        <span class="tree-view__label" id="tvb-style">緊急採購</span>
      </li>
    </ul>
  </li>
  <li
    role="treeitem"
    aria-expanded="false"
    aria-level="1"
    aria-selected="false"
    aria-labelledby="tvb-tests"
    tabindex="-1"
  >
    <span class="tree-view__label" id="tvb-tests">使用須知</span>
    <ul role="group">
      <li
        role="treeitem"
        aria-level="2"
        aria-selected="false"
        aria-labelledby="tvb-index-test"
        tabindex="-1"
      >
        <span class="tree-view__label" id="tvb-index-test">採購標準作業程序</span>
      </li>
    </ul>
  </li>
  <li
    role="treeitem"
    aria-level="1"
    aria-selected="false"
    aria-labelledby="tvb-readme"
    tabindex="-1"
  >
    <span class="tree-view__label" id="tvb-readme">自我檢核表</span>
  </li>
  <li
    role="treeitem"
    aria-level="1"
    aria-selected="false"
    aria-labelledby="tvb-package"
    tabindex="-1"
  >
    <span class="tree-view__label" id="tvb-package">招決標方式評估</span>
  </li>
</ul>
