<nav aria-label="側邊導覽" class="tree-view">
  <ul>
    <li>
      <a aria-current="page" href="#about">關於我們</a>
    </li>
    <li>
      <button type="button" aria-expanded="false">最新消息</button>
      <ul>
        <li>
            <a href="#news">新聞稿</a>
        </li>
        <li>
            <a href="#event">活動公告</a>
        </li>
        <li>
            <a href="#policy">政策更新</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#question">常見問答</a>
    </li>
    <li>
      <a href="#contact">聯絡我們</a>
    </li>
  </ul>
</nav>
