---
---

<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
  <link rel="icon" type="image/png" href="">
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {{ content }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;600;700&display=swap" rel="stylesheet">
</body>
</html>
