<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <link rel="stylesheet" href="{{ "/assets/main.css" | absolute_url }}">
  <link rel="icon" type="image/png" href="{{ "/assets/favicon.png" | absolute_url }}">
  <title>{% if page.title %}{{ page.title }} | {% endif %}政府網站設計原則</title>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <skip-to><a href="#main" class="skip-to">跳至主要內容區</a></skip-to>
  <header class="header ph4 pv3 bb">
    <a href="{{ "/" | absolute_url}}" class="logo no-underline bw1 color-inherit inline-flex items-center">
      <div class="w2 h2 mr3">{% include components.svg %}</div>
      <h1>政府網站設計原則</h1>
    </a>
  </header>
  <main class="flex flex-wrap flex-nowrap-l content-start pa4">
    <nav aria-label="主要" class="w-100 w5-l mt2 flex-shrink-0">
      {% for collection in site.collections %}
        {% if collection.docs.size == 0 %}{% continue %}{% endif %}
        <details class="mb3" {% if page.path contains collection.label %}open{% endif %}>
        <summary class="pointer mb3">
          {% assign filepath = collection.relative_directory | append: "/index.md" %}
          {% assign doc = collection.docs | where: "path", filepath | first %}
          {% capture tag %}{% if doc %}a{% else %}spans{% endif %}{% endcapture %}

          <{{ tag }} class="pa2 mb2" {% if doc %}href="{{ doc.url | absolute_url }}"{% endif %}>
            {{ collection.name }}
          </{{ tag }}>
        </summary>
        {% for doc in collection.docs %}
          {% assign level = doc.path | split: "/" | size %}
          {% if level < 3 %}{% continue %}{% endif %}
          {% unless doc.path contains "index.md" %}{% continue %}{% endunless %}
          <a class="nav-link" {% if doc.url == page.url %}aria-current="page"{% endif %} href="{{ doc.url | absolute_url }}">{{ doc.title }}</a>  
        {% endfor %}
        </details>
      {% endfor %}
    </nav>
    <div id="main" class="ml4-l flex-auto">
      {% assign filetype = page.path | split:'.' | last %}
      {% if filetype == 'md' %}
        <article class="mw7 nested-copy-separator {% if page.text_only %}measure-wide{% endif %}">
          {{ content }}
        </article>
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </main>
  <footer class="footer f6 pa4 flex items-center gap4">
    <div class="lh-solid w2">{% include components.svg %}</div>
    <div class="mw5">
    </div>
  </footer>
  <script src="{{ "/assets/main.js" | absolute_url }}" defer></script>
</body>
</html>
