<official-document>
數位發展部公告
中華民國112年1月3日
數位政府字第11140006811號

主旨：預告修正「各級機關機構學校網站無障礙檢測及認證標章核發辦法」第二條。
依據：行政程序法第一百五十一條第二項準用第一百五十四條第一項。
公告事項：
一、修正機關：數位發展部。
二、修正依據：身心障礙者權益保障法第五十二條之二第二項。
三、「各級機關機構學校網站無障礙檢測及認證標章核發辦法」第二條修正草案如附件。本案另載於本部全球資訊網站（網址：https://moda.gov.tw），「資訊服務」選項下「法規查詢」之「草案預告」網頁。
四、本案係配合行政院組織改造，本辦法之主管機關已改由數位發展部管轄，故修正本辦法之主管機關名稱，未作其他實質內容變更，預告期間定為14日。對於本公告內容有任何意見或修正建議者，請於本公告刊登公報隔日起14日內陳述意見或洽詢：
  （一）承辦單位：數位發展部數位政府司。
  （二）地址：臺北市中正區忠孝西路一段66號17樓。
  （三）電話：（02）2380-0242。
  （四）電子郵件：yplin@moda.gov.tw。

部長
唐鳳
</official-document>